h1, h2, h3, h4, h5, h6, p, span, li {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul, li {
  list-style-type: none;
}
ul {
  display: block;
  padding: 0;
}
div {
  display: block;
}

h2 b {
  font-weight: normal;
  color: #333;
}

p {
  font-size: 14px;
  display: block;
  margin-bottom: 12px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.header {
  word-wrap: break-word !important;
  word-break: break-word !important;
  overflow-wrap: break-word !important;
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 21px;
  line-height: 1.28571em;
  color: #d32323;
}
.user-with-review {
  margin:0 -15px;
  content: " ";
  display: table;
  clear: both;
}

.user-wrapper {
  float: left;
  padding: 0 15px;
  box-sizing: border-box;
  width: 37.5%;
}

.review-wrapper {
  float: left;
  padding: 0 15px;
  box-sizing: border-box;
  width: 62.5%;
}

.list{
  margin-bottom: 12px;
}

.list-bordered>li {
  margin: 0;
  padding: 18px 0;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 17px;
}

.rating-date {
  color: #666;
  font-size: 14px;
  font-weight: normal;
}

.i-stars {
  background: url("https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_design_web/9b34e39ccbeb/assets/img/stars/stars.png") no-repeat;
  background-size: 132px 560px;
  display: inline-block;
  vertical-align: middle;
}
.i-stars--10 {
  width: 102px;
  height: 18px;
  background-position: 0 -258px;
}
.i-stars--20 {
  width: 102px;
  height: 18px;
  background-position: 0 -294px;
}
.i-stars--30 {
  width: 102px;
  height: 18px;
  background-position: 0 -330px;
}
.i-stars--40 {
  width: 102px;
  height: 18px;
  background-position: 0 -366px;
}
.i-stars--50 {
  width: 102px;
  height: 18px;
  background-position: 0 -402px;
}

.photo-box-img {
  border-radius: 4px;
  vertical-align: middle;
}
.media-block {
  font-size: 12px;
  line-height: 1.5em;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  color: #666;
}

.media-avatar {
  border-right-width: 9px;
  border-right: 6px solid transparent;
  border-left: none;
}

.media-story {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 0;
  min-height: 0;
}

.username {
  font-size: 14px;
  line-height: 1.28571em;
  font-weight: bold;
  color: #0073bb;
}

.location {
  font-weight: bold;
  color: #333;
}

.review-footer {
  white-space: nowrap;
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5em;
  color: #666;
}

.voting {
  margin-bottom: 12px;
}

.voting-intro {
  font-size: 12px;
  white-space: nowrap;
  margin-bottom: 6px;
  font-weight: bold;
}

.vote-item {
  white-space: nowrap;
  padding: 5px 8px;
  background: #fff;
  border: 1px solid #ccc;
  background-image: none;
  background-repeat: no-repeat;
  border-radius: 3px;
  /* transition: all 0.6s;
    transition-property: background-color, background-position, background-size, border-color;
    background-position: 50% 50%; */
  margin-right: 6px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}
.question {
  color: #666;
  background: #fff;
  border: 1px solid #ccc;
  background-image: none;
  background-repeat: no-repeat;
  transition: all 0.6s;
  transition-property: background-color, background-position, background-size, border-color;
  background-position: 50% 50%;
  background-size: 15000px 15000px;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  cursor: pointer;
  border: 1px solid;
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
  line-height: 1.28571em;
  padding: 8px 19px 9px;
  border-radius: 3px;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  top: -.1em;
}